* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

.container {
    position: fixed;
    width: 20%;
    height: 100vh;
    background: rgb(14, 10, 65);
}

.container .sidebar li {
    list-style: none;
    margin-top: 32px;
    margin-left: 28px;
}

.container .sidebar li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    transition: .3s;
}

.container .sidebar li a:hover {
    color: rgb(255, 166, 34);
}

.beranda,
.produk,
.customer,
.kriteria,
.subkriteria,
.bobot,
.nilai,
.hasil {
    width: 100%;
    padding-left: 25%;
    padding-top: 5%;
}

.beranda h2 {
    font-size: 32px;
    line-height: 42px;
}

.aksi a {
    color: rgb(255, 166, 34);
}